@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


/* Global Style */

body {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: #007465;
}

:root {
    --main-radius: 15px;
}

h1 {
    font-size: 300%;
    color: #007465;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 150%;
}

.gaming-rules {
    text-align: center;
}

.button {
    color: #005F6A;
    font-family: 'Quicksand', sans-serif;
    background-color: #E3BD39;
    border-radius: var(--main-radius);
    margin: 15px;
    min-width: 100px;
}

/* Grid Style */

.grid-container {
    display: grid;
    max-width: 1300px;
    max-height: 1000px;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 5px;
    border: 1px solid #2F4858;
    border-radius: var(--main-radius);
    grid-template-areas:
        "grid-random-numbers grid-operators"
        "grid-equation grid-operators"
        "grid-buttons grid-buttons";
}

.grid-items {
    background-color: #FFF9EC;
    align-items: center;
    max-height: 100%;
}

.grid-random-numbers {
    grid-area: grid-random-numbers;
}

.grid-equation {
    grid-area: grid-equation;
}

.grid-operators {
    grid-area: grid-operators;
}

.grid-buttons {
    grid-area: grid-buttons;
}

/* Flexbox Style */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 10px;
    border: 1px solid #2F4858;
    justify-content: center;
    border-radius: var(--main-radius);
}

.flex-container-operators {
    display: flex;
    text-align: center;
    margin: 10px;
    border: 1px solid #2F4858;
    justify-content: center;
    flex-direction: column;
    border-radius: var(--main-radius);
}

/* Pop up window for showing the rules of the game */

.rules {
    padding: 1em;
    max-width: 800px;
    border-color: #2F4858;
    color: #007465;
    background-color: #FFF9EC;
    font-size: 130%;
    margin: auto 1rem;
}

.rules li {
    text-align: left;
    padding: 5px 0;
}

.rules::backdrop {
    background: #2F4858;
    opacity: .5;
}

/* Random Number Area Style */

.random-item {
    color: #FFF9EC;
    font-size: 150%;
    background-color: #3b864a;
    border: 1px solid #2F4858;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    margin: 5px;
}

/* Equation Area Style */

.random-item-container {
    color: #FFF9EC;
    background-color: #3b864a;
    border: 1px solid #2F4858;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    margin: 5px;
    min-height: 25px;
    min-width: 25px;
}

.brackets-container {
    color: #FFF9EC;
    background-color: #00BCC3;
    border: 1px solid #2F4858;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    margin: 5px;
    min-height: 25px;
    min-width: 5px;
}

.operators-container {
    color: #FFF9EC;
    background-color: #FB9B51;
    border: 1px solid #2F4858;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    margin: 5px;
    min-height: 10px;
    min-width: 10px;
}

.result {
    margin: 10px;
}

/* Input Operators Area Style */

.operators-item {
    color: #FFF9EC;
    font-size: 150%;
    background-color: #FB9B51;
    border: 1px solid #2F4858;
    border-radius: 3px;
    text-align: center;
    margin: 5px;
    padding: 0 5px;
    min-height: 10px;
    min-width: 10px;
}

.brackets-item {
    color: #FFF9EC;
    background-color: #00BCC3;
    border: 1px solid #2F4858;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    margin: 5px;
    min-height: 25px;
    min-width: 5px;
}

/* Drag and Drop */

.over {
    border: 2px solid #E3BD39;
}

/* Media Queries */

@media only screen and (min-width: 870px) {
    .rules {
        margin: auto;
    }
}

@media only screen and (max-width: 700px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 4fr 1fr;
        grid-template-areas:
            "grid-random-numbers"
            "grid-equation"
            "grid-operators"
            "grid-buttons";
    }
}

@media only screen and (max-width: 450px) {
    .grid-random-numbers {
        flex-direction: column;
    }
}